<h1><%= t '.title' %></h1>

<%= render 'form', instructor: @instructor, 
                   button_text: 'Salvar Professor' %>

<div>
  <%= link_to 'Cancelar', instructor_path, class: "btn btn-dark" %>
</div>
