<h1><%= t '.title' %></h1>
<hr class="my-4">

<%= render 'form', instructor: @instructor, 
                   button_text: 'Salvar Professor' %>

<hr class="my-4">
<div>
  <%= link_to 'Cancelar', instructor_path, class: "btn btn-dark" %>
</div>
