<h1><%= t '.title' %></h1>

<%= render 'form', instructor: @instructor, 
                   button_text: 'Cadastrar Professor' %>

<div>
  <ul>
    <li><%= link_to 'Cancelar', instructors_path %></li>
  </ul>
</div>