<h1><%= @lesson.name %></h1>
<hr class="my-4">
<dl>
  <dt>Duração:</dt>
  <dd><%= t('lessons.plurals.duration', count: @lesson.duration) %></dd>

  <dt>Conteudo:</dt>
  <dd><%= @lesson.content %></dd>
</dl>

<hr class="my-4">
<div>
  <%= link_to 'Voltar', user_course_path(@course), class: "btn btn-dark" %>
</div>