<h1><%= t '.title' %></h1>

<%= render 'form', course: @course, lesson: @lesson, 
                   botton_text: 'Salvar aula' %>

<div>
  <%= link_to 'Cancelar', course_path(@course), class: "btn btn-dark" %>
</div>