<h1><%= t '.title' %></h1>

<%= render 'form', course: @course, lesson: @lesson, 
                   botton_text: 'Salvar aula', 
                   url: course_lesson_path(@course, @lesson) %>

<div>
  <ul>
    <li><%= link_to 'Cancelar', course_path(@course) %></li>
  </ul>
</div>