<h1><%= t '.title' %></h1>

<%= render 'form', course: @course, lesson: @lesson, 
                   botton_text: 'Cadastrar aula', 
                   url: course_lessons_path(@course) %>

<%= link_to 'Cancelar', course_path(@course) %>