<h1><%= t '.title' %></h1>

<div>
  <%= render 'form', course: @course, lesson: @lesson, 
                    botton_text: 'Cadastrar aula' %>
</div>

<div>
  <%= link_to 'Cancelar', course_path(@course), class: "btn btn-dark" %>
</div>