<% if @courses.empty? %>
  <p>Nenhum curso disponível</p>
<% end %>

<% @courses.each do |course| %>
  <h1><%= link_to course.name, course %></h1>
  <p><%= course.description %></p>
  <p><%= number_to_currency course.price, unit: 'R$', separator: ',', delimiter: '.', format: '%u %n' %></p>

<% end %>