<h1><%= t '.title' %></h1>

<%= render 'form', course: @course, instructors: @instructors, 
                   button_text: 'Criar curso' %>

<div>
  <ul>
    <li><%= link_to 'Cancelar', courses_path %></li>
  </ul>
</div>
