<h1><%= t '.title' %></h1>
<hr class="my-4">

<%= render 'form', course: @course, instructors: @instructors, 
                   button_text: 'Criar curso' %>

<hr class="my-4">
<div>
  <%= link_to 'Cancelar', courses_path, class: "btn btn-dark" %>
</div>
