<h1><%= t '.title' %></h1>

<%= render 'form', course: @course, instructors: @instructors, 
                   button_text: 'Criar curso' %>

<div>
  <%= link_to 'Cancelar', courses_path, class: "btn btn-dark" %>
</div>
